body {
    width: 100%;
    height: 3840px;
    margin: 0px;
}


nav {
    width: 1109px;
    height: 23px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 61px;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
}

.navlogo {
    width: 90.13px;
    height: 19.34px;
}

.navlist {
    width: 162px;
    height: 23px;
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.346154px;
    color: #111111;
}

li a:hover {
    color: rgb(190, 16, 190)
}
    
header {
    width: 1109px;
    height: 246px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.title {
    width: 635px;
    height: 246px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.title_h3 {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -0.423077px;
    color: #4A4FF2;
    margin-top: 0px;
    margin-bottom: 35px;
}

.title_h1 {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.5;
    color: #111111;
    margin-top: 0px;
}

.title_pd {
    color: #4A4FF2;
}

.quote {
    width: 207px;
    height: 34px;
    margin-right: 73px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-end;
}

.quote_rectangle {
    width: 30px;
    height: 2px;
    background: #111111;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 9px;
}

.quote_text {
    font-family: Muli;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.3;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}
   
.frame {
    width: 1110px;
    height: 1960px;
    margin-top: 144px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 32;
    grid-template-columns: 9;
}

.project_1 {
    width: 357px;
    height: 413px;
    grid-area: 1/1/8/4;
}

.project_2 {
    width: 356px;
    height: 351px;
    grid-area: 1/4/7/7;
}

.project_3 {
    width: 350px;
    height: 599px;
    margin-left: 7px;
    grid-area: 1/7/11/10;
}

.project_4 {
    width: 357px;
    height: 475px;
    grid-area: 8/1/16/4;
}

.project_5 {
    width: 350px;
    height: 413px;
    grid-area: 7/4/14/7;
}

.project_6 {
    width: 357px;
    height: 413px;
    grid-area: 11/7/18/10;
}

.project_7 {
    width: 357px;
    height: 475px;
    grid-area: 16/1/24/4;
}

.project_8 {
    width: 356px;
    height: 537px;
    grid-area: 14/4/23/7;
}

.project_9 {
    width: 357px;
    height: 537px;
    grid-area: 18/7/27/10;
}

.project_10 {
    width: 357px;
    height: 537px;
    grid-area: 24/1/33/4;
}

.project_11 {
    width: 356px;
    height: 599px;
    grid-area: 23/4/33/7;
}

.project_12 {
    width: 350px;
    height: 351px;
    margin-left: 7px;
    grid-area: 27/7/33/10;
}

.group {
    width: 1079px;
    height: 106px;
    margin-left: 126px;
    margin-right: 155px;
    margin-top: 91px;
    display: flex;
    justify-content: space-between;
}

.group__text {
    width: 635px;
    height:106px;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.3;
    color: #111111;
}

.group__service--1 {
    width: 150px;
    height: 89px;
    margin-top: 8px;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.3;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.group__service--2 {
    width: 129px;
    height: 89px;
    margin-top: 8px;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.3;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

div a:hover {
    color: rgb(190, 16, 190);
}
